header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;

  & .navbar {
    display: flex;
    background: linear-gradient(
      180deg,
      rgba(35, 33, 43, 1) 0%,
      rgba(35, 33, 43, 0) 100%
    );
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 24px 64px 0px 64px;
    position: fixed;
    z-index: 20;

    & .nav-content {
      display: flex;
      max-width: 1000px;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      & .header-logo {
        max-width: 64px;
        max-height: 64px;
      }

      & .nav-container {
        display: flex;
        flex-direction: column;
        gap: 4px;

        & .nav-items {
          display: flex;
          gap: 48px;
          cursor: pointer;

          & .nav-item {
            all: unset;
            color: var(--secondary-main);
            font-size: 18px;
            font-weight: 800;
            position: relative;

            &::before {
              content: "";
              position: absolute;
              width: 0%;
              height: 4px;
              top: 27px;
              border-radius: 8px;
              background: var(--secondary-main);
              transition: width 0.3s ease, left 0.3s ease, opacity 0.3s ease;
              opacity: 0;
            }

            &:hover {
              &::before {
                width: 50%;
                opacity: 1;
              }
            }

            &:not(:hover) {
              &::before {
                width: 0%;
                opacity: 0;
              }
            }
          }
        }
      }
    }

    & .language-content {
      & .language {
        display: flex;
        width: 30px;
      }
    }
  }

  & .mobile-navbar {
    display: none;
  }
}

.header-container {
  display: flex;
  width: 100%;
  max-width: 950px;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  margin-top: 100px;

  & .header-title-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & h1 {
      color: var(--secondary-main);
      font-size: 24px;
      font-weight: 600;
    }

    & .text-stroke {
      color: var(--secondary-bg);
      text-shadow: -2px -2px 0 var(--secondary-main),
        2px -2px 0 var(--secondary-main), -2px 2px 0 var(--secondary-main),
        2px 2px 0 var(--secondary-main);
      font-size: 70px;
      font-weight: 800;
      line-height: 70px;
      letter-spacing: 5px;
    }
  }

  & .illustrations {
    & .illustration {
      width: 100%;
    }
  }
}

.chevron-levitation {
  margin-bottom: 10px;
  cursor: pointer;

  & a {
    scroll-behavior: smooth;

    & .chevron-down {
      position: relative;
      width: 25px;
    }
  }
}
