// Laptop
@media (max-width: 1200px) {
  #projects {
    & .cards {
      & .card {
        flex-direction: column;

        & .mok-up {
          width: 35%;
          height: 25%;
          position: relative;
          top: 150px;
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);

          & .logo-container {
            width: 25px;
            height: 25px;

            & .mok-up-logo {
              padding: 0px;
              width: 20px;
              height: 20px;
            }
          }
        }

        & .card-container {
          width: 50%;
          height: 50%;
          border-radius: 12px 12px 12px 12px;

          & .card-content-container {
            margin-top: 50px;

            & .frame {
              top: 85px;
              right: 44%;
              left: 44%;
            }

            & .card-content {
              position: absolute;
              bottom: 15px;

              & a {
                width: 70%;
                display: flex;
                justify-content: center;

                & button {
                  width: 70%;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Tablet
@media (max-width: 1030px) {
  // Header
  header {
    & .header-container {
      flex-direction: column;
      justify-content: center;
      margin-top: 120px;

      & .illustrations {
        width: 50%;
      }
    }
  }
}

// Under Tablet (Phone, and other)
@media (max-width: 750px) {
  // Header
  header {
    & .header-container {
      & .header-title-container {
        & h1 {
          font-size: 20px;
        }

        & .text-stroke {
          font-size: 60px;
        }
      }

      & .illustrations {
        width: 70%;
      }
    }

    & .navbar {
      display: none;
    }

    & .mobile-navbar {
      display: flex;

      & .nav-content {
        & .mobile-menu-burger {
          position: relative;

          & .checkbox {
            display: none;
          }

          & .burger-bar {
            display: flex;
            flex-direction: column;
            gap: 5px;
            cursor: pointer;
            position: relative;
            z-index: 3;

            & span {
              display: flex;
              width: 30px;
              height: 4px;
              border-radius: 10px;
              background-color: white;
              transition: background-color 0.4s;
              transition: transform 0.5s;
            }
          }

          & .checkbox:checked + .burger-bar span:nth-child(1) {
            transform: rotate(-45deg) translate(-6px, 6.5px);
          }

          & .checkbox:checked + .burger-bar span:nth-child(2) {
            opacity: 0;
          }

          & .checkbox:checked + .burger-bar span:nth-child(3) {
            transform: rotate(45deg) translate(-5px, -6px);
          }

          & .menu-burger {
            height: 100vh;
            position: fixed;
            top: 0;
            right: -60vw;
            z-index: 2;
            opacity: 0;
            width: 0;
            transition: all 0.8s;

            &.menu-open {
              overflow-y: hidden;
              height: 100%;
            }

            & .background {
              height: 100%;
              background-image: radial-gradient(
                var(--secondary-bg),
                var(--primary-bg)
              );
              opacity: 1;
              transition: opacity 0.8s,
                transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
            }

            & .list {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              list-style: none;
              text-align: center;
              width: 100%;
            }

            & .item {
              margin: 1rem;
              font-size: 36px;
            }

            & .nav-item:link,
            & .nav-item:visited {
              display: inline-block;
              font-size: 3rem;
              font-weight: 300;
              padding: 1rem 2rem;
              color: white;
              text-decoration: none;
              background-size: 220%;
              transition: all 0.4s;
            }

            & .nav-item:hover,
            & .nav-item:active {
              color: var(--primary-bg);
              cursor: pointer;
            }
          }

          & .checkbox:checked ~ .menu-burger {
            opacity: 1;
            width: 100%;
            right: 0;
          }
        }
      }
    }
  }

  // Projects
  #projects {
    & .chevrons {
      display: none;
    }

    & .cards {
      & .card {
        & .mok-up {
          width: 70%;
        }

        & .card-container {
          width: 80%;
        }
      }
    }

    & .swiper-pagination {
      display: flex;
      justify-content: center;

      & .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: var(--primary-bg);
      }

      & .swiper-pagination-bullet-active {
        background-color: var(--primary-main);
      }
    }
  }
}
