/* All styles */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
:root {
  --primary-main: #f92558;
  --secondary-main: #ffffff;
  --secondary-main-opacity-8: rgba(255, 255, 255, 0.8);
  --secondary-main-opacity: rgba(255, 255, 255, 0.6);
  --primary-bg: #15141a;
  --secondary-bg: #2c2a37;
  --background--opactity: rgba(21, 20, 26, 0.3);
  --spacing-none: 0px;
  --spacing-3xs: 2px;
  --spacing-2xs: 4px;
  --spacing-xs: 6px;
  --spacing-sm: 8px;
  --spacing-2sm: 10px;
  --spacing-md: 12px;
  --spacing-lg: 16px;
  --spacing-xl: 20px;
  --spacing-2xl: 24px;
  --spacing-3xl: 28px;
  --spacing-4xl: 32px;
  --spacing-5xl: 36px;
  --spacing-6xl: 40px;
  --spacing-7xl: 44px;
  --spacing-8xl: 48px;
  --spacing-9xl: 56px;
  --spacing-10xl: 64px;
  --spacing-11xl: 72px;
  --spacing-12xl: 80px;
  --spacing-full: 100px;
  --spacing-sectionPadding: 112px;
  --spacing-blockSize: 450px;
  --spacing-xsBlockSize: 150px;
  --spacing-smBlockSize: 200px;
  --spacing-mdBlockSize: 250px;
  --spacing-lgBlockSize: 350px;
  --fontFamily: Manrope, sans-serif;
  --h1: 2.75rem;
  --h2: 2rem;
  --h3: 1.75rem;
  --body: 0.875rem;
  --subtitle: 1rem;
  --button: 1.125rem;
  --extraLight: 300;
  --light: 400;
  --regular: 500;
  --bold: 600;
  --semiBold: 700;
  --extraBold: 800;
}

* {
  margin: var(--spacing-none);
  box-sizing: border-box;
  font-family: var(--fontFamily);
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body,
main {
  width: 100%;
  background-color: var(--secondary-bg);
}

body {
  background-image: url("/assets/star-background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--primary-bg) var(--secondary-bg);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--secondary-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-bg);
  border-radius: 10px;
  border: 3px solid var(--secondary-bg);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}
header .navbar {
  display: flex;
  background: linear-gradient(180deg, rgb(35, 33, 43) 0%, rgba(35, 33, 43, 0) 100%);
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 24px 64px 0px 64px;
  position: fixed;
  z-index: 20;
}
header .navbar .nav-content {
  display: flex;
  max-width: 1000px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
header .navbar .nav-content .header-logo {
  max-width: 64px;
  max-height: 64px;
}
header .navbar .nav-content .nav-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
header .navbar .nav-content .nav-container .nav-items {
  display: flex;
  gap: 48px;
  cursor: pointer;
}
header .navbar .nav-content .nav-container .nav-items .nav-item {
  all: unset;
  color: var(--secondary-main);
  font-size: 18px;
  font-weight: 800;
  position: relative;
}
header .navbar .nav-content .nav-container .nav-items .nav-item::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 4px;
  top: 27px;
  border-radius: 8px;
  background: var(--secondary-main);
  transition: width 0.3s ease, left 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}
header .navbar .nav-content .nav-container .nav-items .nav-item:hover::before {
  width: 50%;
  opacity: 1;
}
header .navbar .nav-content .nav-container .nav-items .nav-item:not(:hover)::before {
  width: 0%;
  opacity: 0;
}
header .navbar .language-content .language {
  display: flex;
  width: 30px;
}
header .mobile-navbar {
  display: none;
}

.header-container {
  display: flex;
  width: 100%;
  max-width: 950px;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  margin-top: 100px;
}
.header-container .header-title-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header-container .header-title-container h1 {
  color: var(--secondary-main);
  font-size: 24px;
  font-weight: 600;
}
.header-container .header-title-container .text-stroke {
  color: var(--secondary-bg);
  text-shadow: -2px -2px 0 var(--secondary-main), 2px -2px 0 var(--secondary-main), -2px 2px 0 var(--secondary-main), 2px 2px 0 var(--secondary-main);
  font-size: 70px;
  font-weight: 800;
  line-height: 70px;
  letter-spacing: 5px;
}
.header-container .illustrations .illustration {
  width: 100%;
}

.chevron-levitation {
  margin-bottom: 10px;
  cursor: pointer;
}
.chevron-levitation a {
  scroll-behavior: smooth;
}
.chevron-levitation a .chevron-down {
  position: relative;
  width: 25px;
}

#projects {
  width: 100%;
  padding-top: 200px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#projects .cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#projects .cards .card {
  width: 100%;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#projects .cards .card .mok-up {
  display: flex;
  width: 50%;
  padding-bottom: 450px;
  border-radius: 8px;
  background-image: url(/assets/mok-up-music-dashboard.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.5);
  gap: 6px;
}
#projects .cards .card .mok-up .logo-container {
  display: flex;
  width: 30px;
  height: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background--opactity);
  border-radius: 6px;
  margin: 3px 0px 0px 3px;
}
#projects .cards .card .mok-up .logo-container .mok-up-logo {
  max-width: 48px;
  max-height: 42px;
  display: flex;
  padding: 10px;
}
#projects .cards .card .card-container {
  width: 30%;
  border-radius: 0px 12px 12px 0px;
  background: var(--primary-bg);
}
#projects .cards .card .card-container .card-content-container {
  position: relative;
  width: 100%;
  padding: 50px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#projects .cards .card .card-container .card-content-container .frame {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  padding: 4px 14px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--primary-main);
}
#projects .cards .card .card-container .card-content-container .frame p {
  color: var(--secondary-main);
  font-size: 12px;
  font-weight: 300;
}
#projects .cards .card .card-container .card-content-container .card-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
#projects .cards .card .card-container .card-content-container .card-title h1 {
  color: var(--secondary-main);
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
}
#projects .cards .card .card-container .card-content-container .card-title .card-title-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 0px 20px 0px 20px;
}
#projects .cards .card .card-container .card-content-container .card-title .card-title-content p {
  color: var(--secondary-main-opacity);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}
#projects .cards .card .card-container .card-content-container .card-content {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
}
#projects .cards .card .card-container .card-content-container .card-content a {
  text-decoration: none;
}
#projects .cards .card .card-container .card-content-container .card-content a button {
  all: unset;
  display: flex;
  width: 120px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--primary-main);
  box-shadow: 0px 0px 3px 0px var(--primary-main);
  cursor: pointer;
}
#projects .cards .card .card-container .card-content-container .card-content a button p {
  color: var(--secondary-main);
  font-size: 14px;
  font-weight: 500;
}
#projects .cards .animation-css .mok-up {
  background-image: url(/assets/mok-up-animation-css.jpeg);
}
#projects .cards .challenge-bootstrap .mok-up {
  background-image: url(/assets/mok-up-challenge-bootstrap.png);
}
#projects .cards .music-dashboard {
  display: flex;
}
#projects .cards .music-dashboard .mok-up {
  background-color: #121216;
  background-size: contain;
}
#projects .cards .foodies .mok-up {
  background-image: url(/assets/mok-up-foodies.png);
}
#projects .cards .jessica-aroztegui .mok-up {
  background-image: url(/assets/mok-up-jessica.png);
}
#projects .cards .marshall .mok-up {
  background-image: url(/assets/mok-up-marshall.png);
}
#projects .cards .recipe-js .mok-up {
  background-image: url(/assets/mok-up-recipe-js.png);
  background-color: #808080;
  background-size: contain;
}
#projects .cards .switch-playground .mok-up {
  background-image: url(/assets/mok-up-switch-playground.png);
  background-color: #2f3731;
  background-size: contain;
}
#projects .cards .travee .mok-up {
  background-image: url(/assets/mok-up-travee.jpeg);
  background-color: #d7ecff;
  background-size: contain;
}
#projects .cards .eva-vr .mok-up {
  background-image: url(/assets/mok-up-eva-vr.png);
  background-color: #080524;
  background-size: contain;
}
#projects .swiper-pagination {
  display: flex;
  justify-content: center;
}
#projects .swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: var(--primary-bg);
}
#projects .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--primary-main);
}

#about-me {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 350px 0px 20px 0px;
}
#about-me .presentation {
  max-width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 50px;
  color: var(--secondary-main);
}
#about-me .presentation .presentation-subtitle {
  background: var(--secondary-bg);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding: 0px 40px 0px 40px;
}
#about-me .social-container {
  width: 100%;
  max-width: 950px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
#about-me .social-container .github {
  display: flex;
  width: 64px;
}
#about-me .social-container .linkedin,
#about-me .social-container .mail {
  display: flex;
  width: 32px;
  height: 32px;
}
#about-me .sitemap {
  display: flex;
  gap: 48px;
  cursor: pointer;
}
#about-me .sitemap .sitemap-item {
  all: unset;
  color: var(--secondary-main);
  font-size: 12px;
  font-weight: 400;
  position: relative;
}
#about-me .sitemap .sitemap-item::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  top: 20px;
  border-radius: 8px;
  background: var(--secondary-main);
  transition: width 0.3s ease, left 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}
#about-me .sitemap .sitemap-item:hover::before {
  width: 100%;
  opacity: 1;
}
#about-me .sitemap .sitemap-item:not(:hover)::before {
  width: 0%;
  opacity: 0;
}

@media (max-width: 1200px) {
  #projects .cards .card {
    flex-direction: column;
    padding-top: 0px;
  }
  #projects .cards .card .mok-up {
    width: 35%;
    padding-bottom: 250px;
    position: relative;
    top: 150px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  }
  #projects .cards .card .mok-up .logo-container {
    width: 25px;
    height: 25px;
  }
  #projects .cards .card .mok-up .logo-container .mok-up-logo {
    padding: 0px;
    width: 20px;
    height: 20px;
  }
  #projects .cards .card .card-container {
    width: 50%;
    border-radius: 12px 12px 12px 12px;
  }
  #projects .cards .card .card-container .card-content-container {
    margin-top: 130px;
    padding-bottom: 100px;
  }
  #projects .cards .card .card-container .card-content-container .frame {
    top: 5px;
    right: 44%;
    left: 44%;
  }
  #projects .cards .card .card-container .card-content-container .card-content {
    position: absolute;
    bottom: -40px;
  }
  #projects .cards .card .card-container .card-content-container .card-content a {
    width: 70%;
    display: flex;
    justify-content: center;
  }
  #projects .cards .card .card-container .card-content-container .card-content a button {
    width: 70%;
  }
}
@media (max-width: 1030px) {
  header .header-container {
    flex-direction: column;
    justify-content: center;
    margin-top: 120px;
  }
  header .header-container .illustrations {
    width: 50%;
  }
  #projects .cards .card .mok-up {
    width: 60%;
  }
  #projects .cards .card .card-container {
    width: 70%;
  }
}
@media (max-width: 750px) {
  header .header-container .header-title-container h1 {
    font-size: 18px;
  }
  header .header-container .header-title-container .text-stroke {
    font-size: 36px;
  }
  header .header-container .illustrations {
    width: 70%;
  }
  header .navbar {
    display: none;
  }
  header .mobile-navbar {
    display: flex;
  }
  header .mobile-navbar .nav-content .mobile-menu-burger {
    position: relative;
  }
  header .mobile-navbar .nav-content .mobile-menu-burger .checkbox {
    display: none;
  }
  header .mobile-navbar .nav-content .mobile-menu-burger .burger-bar {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    position: relative;
    z-index: 3;
  }
  header .mobile-navbar .nav-content .mobile-menu-burger .burger-bar span {
    display: flex;
    width: 30px;
    height: 4px;
    border-radius: 10px;
    background-color: white;
    transition: background-color 0.4s;
    transition: transform 0.5s;
  }
  header .mobile-navbar .nav-content .mobile-menu-burger .checkbox:checked + .burger-bar span:nth-child(1) {
    transform: rotate(-45deg) translate(-6px, 6.5px);
  }
  header .mobile-navbar .nav-content .mobile-menu-burger .checkbox:checked + .burger-bar span:nth-child(2) {
    opacity: 0;
  }
  header .mobile-navbar .nav-content .mobile-menu-burger .checkbox:checked + .burger-bar span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  header .mobile-navbar .nav-content .mobile-menu-burger .menu-burger {
    height: 100vh;
    position: fixed;
    top: 0;
    right: -60vw;
    z-index: 2;
    opacity: 0;
    width: 0;
    transition: all 0.8s;
  }
  header .mobile-navbar .nav-content .mobile-menu-burger .menu-burger.menu-open {
    overflow-y: hidden;
    height: 100%;
  }
  header .mobile-navbar .nav-content .mobile-menu-burger .menu-burger .background {
    height: 100%;
    background-image: radial-gradient(var(--secondary-bg), var(--primary-bg));
    opacity: 1;
    transition: opacity 0.8s, transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }
  header .mobile-navbar .nav-content .mobile-menu-burger .menu-burger .list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
    padding: 0px;
  }
  header .mobile-navbar .nav-content .mobile-menu-burger .menu-burger .item {
    margin: 1rem;
    font-size: 36px;
  }
  header .mobile-navbar .nav-content .mobile-menu-burger .menu-burger .nav-item:link, header .mobile-navbar .nav-content .mobile-menu-burger .menu-burger .nav-item:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    background-size: 220%;
    transition: all 0.4s;
  }
  header .mobile-navbar .nav-content .mobile-menu-burger .menu-burger .nav-item:hover, header .mobile-navbar .nav-content .mobile-menu-burger .menu-burger .nav-item:active {
    color: var(--primary-bg);
    cursor: pointer;
  }
  header .mobile-navbar .nav-content .mobile-menu-burger .checkbox:checked ~ .menu-burger {
    opacity: 1;
    width: 100%;
    height: 100%;
    right: 0;
  }
  #projects .cards .card {
    padding: 0px 20px 100px 20px;
  }
  #projects .cards .card .mok-up {
    width: 90%;
  }
  #projects .cards .card .card-container {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */